.latest-box-container {
    height: 100vh;
    width: 100%;
    background-image: url('./Img/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #ffff;
    margin: 30px auto;
    padding: 80px 200px;
    position: relative;
}

.latest-box-container p {
    margin: 10px auto;
}

.detailed-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.detailed-box .right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
}

.detailed-box .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.detailed-box .left {
    position: relative;
}

.detailed-box .left ion-icon {
    position:inherit;
    font-size: 32px;
    background-color: #FF4C5A;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -25px;
margin-right: 8px;
}

.detailed-box .left ion-icon:hover {
    opacity: .7;
}
.Latestfooter{
    display: flex;
}
.detailed-box .Latestfooter .left {
    width: 60%;
    height: 100%;
    border-bottom: 1px solid red;
    margin-right: 90px;
}
.detailed-box .Latestfooter .right .Carrbtn{
    color: black;
    width: 50%;
    padding: 6px 9px;
    background: none;
    border: none;
    color: #ffff;
    border-left: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailed-box .Latestfooter .right .Carrbtn ion-icon{
    margin-left: 12px;
}
.detailed-box .Latestfooter .right .Carrbtn:hover{
    background: #FF4C5A;
    color: black;
    border: none;
}
.detailed-box .Latestfooter .right {
    width: 60%;
    height: 100%;
    margin-right: 90px;
}
.detailed-box .Latestfooter .right .btn {
    width: 30%;
    border: none;
    border-left: 1px solid red;
    color: #fff;
    padding: 5px 18px;
    display: flex;
    align-items: center;
}

.detailed-box .Latestfooter .right .btn ion-icon {
    margin-left: 12px;
}

.detailed-box .left img {
    height: 400px;
    width: 450px;
}

.detailed-box .footer .left p {
    margin: 0 auto;
}

/* ---------------------------------------------------------- */
.latest-carousel-box {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 600px;
}

.latest-box-container .latest-carousel {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.latest-carousel .leftArrow img {
    cursor: pointer;
}

.latest-carousel .rightArrow img {
    cursor: pointer;
}

.latest-carousel .image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.latest-carousel .image-card .overCards {
    background-color: #FF4C5A;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 8px;
    position: absolute;
    top: 210px;
    bottom: 0;
    background: linear-gradient(180deg, #A0373F 54%, #A0373F 54%);
    opacity: 1;
    background: rgba(233, 26, 26, 0.753);
}

.latest-carousel .image-card .overCards ion-icon {
    font-size: 32px;
    cursor: pointer;
}
.latest-carousel-box .action .btn{
    width: 100%;
    border: none;
    border-left: 1px solid red;
}
.latest-carousel-box .action .btn:hover{
    background: #A0373F;
    color: #ffff;
    border: none;
}
/* ---------------------------------------------------------- */
@media screen and (max-width:1500px) and (min-width:1200px){
    .detailed-box .left img {
        height: 70%;
        width: 70%;
        margin: 20px auto;
    }
    .latest-box-container {
        height: 100vh;
        width: 100%;
       padding: 20px;
    }
    
    .latest-box-container p{
        font-size: 22px;
    }
    .latest-box-container h2{
        font-size: 52px;
    }
}
@media screen and (max-width:900px){
    .latest-box-container .right h2{
        font-size: 22px;
        margin: 30px auto;
    }
    .latest-box-container .right p{
        font-size: 15px;
    }
}
@media screen and (max-width:1200px) {
    .detailed-box {
        padding:0;
        flex-direction: column;
    }
    .latest-carousel-box {
        height: 100vh;
        width: 100%;
    }
    .detailed-box .Latestfooter .right .btn {
        width: 100%;
        font-size: 32px;
        color: black;
    }
    .latest-carousel{
        background-image: url('./Img/bg.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -100px;
        width: 100%;
    }
    .latest-box-container {
        height: 1500px;
        width: 100%;
       padding: 20px;
    }
    .latest-box-container p{
        font-size: 28px;
    }
    .latest-box-container h2{
        font-size: 32px;
    }
    .latest-box-container .latest-carousel {
        width: 100%;
        flex-direction: column;
    }
    .detailed-box{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .detailed-box .left{
        width: 50%;
        margin: 0 auto;
        border: 1px solid red;
        display: flex;
    }
    .detailed-box .right {
        width: 100%;
    }
    .latest-carousel-box {
        position: absolute;
        top: 400px;
    }
    .latest-carousel .image-card .overCards {
        display: none;
    }

    .detailed-box .left ion-icon {
        top: -50px;
        left: 450px;
    }
    .detailed-box .left img {
        height: 90%;
        width: 90%;
        margin: 20px auto;
    }
    .latest-box-container .heading{
        margin: 0 auto;
        padding: 0;
    }
    .latest-box-container h2{
        font-size: 32px;
    }
    .latest-box-container p{
        font-size: 22px;
    }
    .detailed-box .left ion-icon {
        top: 0;
        left:0;
        bottom: 0;
        right:0;
        cursor: pointer;
        margin-left: 300px;
    }
}