.featured{
    width: 90%;
    padding: 20px;
    margin:  0 auto;
}
.featured-heading{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin: 20px 0; */
    text-align: center;
}
hr{
    height: 5px;
    width: 300px;
    background:linear-gradient(
        89.97deg, rgba(249, 106, 106, 0.8) 15.28%, rgba(249, 106, 106, 0) 153.88%)!important;
}
 h3{
    margin:  0 15px;
    width: 10%;
}
.featured .carousel {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.featured .carousel .img{
    width: 100%;
}
.featured .carousel img{
    width: 100px;
    height: 50px;
}
.carousel{
    margin-bottom: 20px;
}
@media screen and (max-width:800px){
    .featured-heading h3{
        width: 30%;
        font-size: 1rem;
    }
    .featured .carousel img{
        width: 80px;
        height: 50px;
    }
    .featured-heading hr{
        width: 150px;
    }
    .featured .carousel .img{
        width: 100%;
    }
}

.images{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}
.slick-slide > div{
    margin: 0 100px;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
    }
    .slick-next {
    right: 3% !important;
    z-index: 1;
    }
    .slick-slider.slick-initialized {
        width: 100%;
      }
      .slick-arrow.slick-prev {
        background:#000;
        border-radius: 10px;
    }
    .slick-arrow.slick-next {
          border-radius: 10px;
        background: black;
      }