
.info-container{
    height: 700px;
    width: 100%;
    margin: 20px auto;
    display: flex;
}
.infoLeft{
    height: 100%;
    width: 50%;
    background-image: url('./Img/back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
.infoLeft h2{
    font-size: 42px;
    font-weight: bold;
    color: #ffff;
    margin: 20px auto;
}
.infoLeft p{
    font-size: 22px;
    color: #ffff;
}
.peopleInfo{
    color: #fff;
}
.peopleInfo p{
    color: tomato;
}
.infoRight{
    height: 100%;
    width: 50%;
    background-image: url('./Img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.infoRight .cardBox{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    text-align: center;
}
.infoRight .cardBox .desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}
.desc .leftMove img{
    cursor: pointer;
}
.desc .rightMove img{
    cursor: pointer;
}
.infoRight .cardBox .desc .descText p{
    font-size: 20px;
    margin: 8px 28px;
    color: #ffff;
}
.descText .btn{
    color: #ffff;
    padding: 8px 20px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    cursor: pointer;
    border-radius: 4px;
}
.descText .btn:hover{
    background-color: #cf2e2e;
    border: none;
}

@media screen and (max-width:950px){
    .info-container{
        flex-direction: column;
        height:auto;
        width: 95%;
        margin: 0 auto;
    }
    .infoLeft{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 90px;
    }
    .infoRight{
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .infoLeft h2{
        font-size: 22px;
        margin: 20px auto;
    }
    .infoLeft p{
        font-size: 15px;
        color: #ffff;
    }
    .infoRight .cardBox .desc{
        width: 80%;
        margin: 0 auto;
    }
    .infoRight .cardBox .desc .descText p{
        font-size: 10px;
        margin:0;
        color: #ffff;
    }
    .desc .leftMove img{
        height: 22px;
    }
    .desc .rightMove img{
        height: 22px;
    }
}