.storyBox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    position: relative;
    margin-top: 300px;
}
.storyBox .storyLeft{
    width: 40%;
}
.storyBox .storyRight{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.storyBox .image-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.storyBox .image-cards .cards{
    margin: 5px;
    position: relative;
}
.storyBox .image-cards .cards img{
    height: 200px;
    width: 300px;
    cursor: pointer;
}
.image-cards .cards .overCard{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    position: absolute;
    top:0;
    height: 200px;
    width: 300px;
    background: rgba(0, 0, 0, 0.673);
    color: #ffff;
    text-align: center;
    opacity: 0;
}
.image-cards .cards .overCard:hover{
    opacity: 1;
}
.overCard .btn{
    background: #FF4C5A;
    border: none;
    margin: 15px 0;
    color: black;
}
.overCard .btn:hover{
    background: #ffff;
    border: 1px solid black;
}
@media screen and (max-width:1400px) and (min-width:1000px){
    .storyBox .image-cards .cards img{
        height: 300px;
        width: 250px;
        cursor: pointer;
    }
    .storyBox{
        height: 100vh;
        margin-top: 100px;
    }
}
@media screen and (max-width:1000px){
    .image-cards .cards .overCard{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        position: absolute;
        top:0;
        height: 300px;
        width: 250px;
    }
    .storyBox{
        flex-direction: column;
        margin-top: 100px;
    }
    .storyBox .storyLeft{
        width: 100%;
        margin: 20px auto;
    }
    .storyBox .storyRight{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        margin: 20px auto;
    }
    .storyBox .image-cards .cards img{
        height: 300px;
        width: 250px;
        cursor: pointer;
    }
}